<!-- <td *ngIf="user.userId === ''">
  <input
    type="text"
    name="firstName"
    formControlName="firstName"
  />
</td>
<td>
  <input
    type="text"
    name="firstName"
    (input)="onChange()"
    formControlName="{{ user.firstName + user.userId }}"
  />
</td>

<td *ngIf="dataProvider.editMode">
  <input
    type="text"
    name="lastName"
    (input)="onChange()"
    formControlName="{{ user.lastName + user.userId }}"
  />
</td>

<td *ngIf="dataProvider.editMode">
  <input
    type="text"
    name="loginName"
    (input)="onChange()"
    formControlName="{{ user.loginName + user.userId }}"
  />
</td>

<td *ngIf="dataProvider.editMode">
  <input
    type="text"
    name="password"
    (input)="onChange()"
    formControlName="{{ user.password + user.userId }}"
  />
</td>
<td *ngIf="dataProvider.editMode">
  <input
    type="text"
    name="email"
    (input)="onChange()"
    formControlName="{{ user.email + user.userId }}"
  />
</td> -->
