<form [formGroup]="userService.userForm">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" *ngIf="dataProvider.editMode">
          <a (click)="addEmptyUser()" class="pointer"
            ><i class="fa-solid fa-plus"></i
          ></a>
        </th>
        <th scope="col" *ngIf="!dataProvider.editMode">
          <div class="dummy"></div>
        </th>
        <th scope="col" *ngFor="let column of userService.columns; index as i">
          <ng-container *ngIf="!column.filterable"
            ><div #headerRefArray>
              {{ column.header }}
            </div></ng-container
          >
          <ng-container *ngIf="column.filterable">
            <span (click)="switchToEnable(column.id, i)">
              <input
                type="text"
                #headerRefArray
                class="disabled"
                formControlName="{{ column.id }}"
                (blur)="switchToDisable(column.id, i)"
                (input)="filterColumn(i)"
              />
            </span>
          </ng-container>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userService.filteredUser; index as i">
        <td *ngIf="dataProvider.editMode">
          <a (click)="removeUser(user, i)" class="pointer"
            ><i class="fa-solid fa-trash"></i
          ></a>
        </td>
        <td *ngIf="!dataProvider.editMode">
          <div class="dummy"></div>
        </td>
        <td *ngIf="user.userId !== ''">
          {{ userService.filteredUser[i].userId }}
        </td>
        <td *ngIf="user.userId === ''">
          <input
            type="text"
            name="userId"
            (input)="onChange()"
            (blur)="onBlur('userId--' + i)"
            formControlName="{{ 'userId--' + i }}"
          />
        </td>
        <td *ngIf="dataProvider.editMode">
          <input
            type="text"
            name="firstName"
            (input)="onChange()"
            formControlName="{{
              user.userId === '' ? 'firstName--' + i : user.userId + 'firstName'
            }}"
          />
        </td>
        <td *ngIf="!dataProvider.editMode">
          {{ userService.filteredUser[i].firstName }}
        </td>
        <td *ngIf="dataProvider.editMode">
          <input
            type="text"
            name="lastName"
            (input)="onChange()"
            formControlName="{{
              user.userId === '' ? 'lastName--' + i : user.userId + 'lastName'
            }}"
          />
        </td>
        <td *ngIf="!dataProvider.editMode">
          {{ userService.filteredUser[i].lastName }}
        </td>
        <td *ngIf="dataProvider.editMode">
          <input
            type="text"
            name="loginName"
            (input)="onChange()"
            formControlName="{{
              user.userId === '' ? 'loginName--' + i : user.userId + 'loginName'
            }}"
          />
        </td>
        <td *ngIf="!dataProvider.editMode">
          {{ userService.filteredUser[i].loginName }}
        </td>
        <td *ngIf="dataProvider.editMode">
          <input
            type="password"
            name="password"
            (input)="onChange()"
            formControlName="{{
              user.userId === '' ? 'password--' + i : user.userId + 'password'
            }}"
          />
        </td>
        <td *ngIf="!dataProvider.editMode">****</td>
        <td *ngIf="dataProvider.editMode">
          <input
            type="text"
            name="email"
            (input)="onChange()"
            formControlName="{{
              user.userId === '' ? 'email--' + i : user.userId + 'email'
            }}"
          />
        </td>
        <td *ngIf="!dataProvider.editMode">
          {{ userService.filteredUser[i].email }}
        </td>
      </tr>
    </tbody>
  </table>
</form>
